.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 500;
        margin-bottom: 16px;
        font-size: 16px;
      }

      .inputItem {
        margin-bottom: 10px;

        label {
          margin-left: 10px;
          color: #777777;
          padding: 5px 0;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width:992px) {
 .products{
  padding: 30px 0px;
   .left{
     position: absolute;
     background-color: white;
     top: 0;
     left: 0;
     z-index: 10 !important;
     padding: 20px;
     transition: 1s ease-in-out;
    
     .close-btn{
      font-size: 14px !important;
      color: gray;
      border-bottom: 1px solid gray;
      margin-bottom: 20px;
      cursor: pointer;
      .cl-btn>*{
        font-size: 17px !important;
        margin-bottom: 2px;
      }

    }

  }
  .text-blue{
    color: #2879FE;
    cursor: pointer;
  .filter-text{
    font-size: 14px;
  }
  }
  
  .start-n-60{
    left: -250px;
    transition: 1s ease-in-out;
  }
}
}
